/*____________ ABOUT _______________*/

.about {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)),
     url(../img/about.jpg) ;
    min-height: 100vh; 
    background-color: #F9F8F8;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.about__text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 30px;
    color: #fff;
    text-align: center;

}

.servise {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.sirvise__icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sirvise__icon img {
    min-width: 70px;
    height: 70px;
    background-color: #F6A73E;
    padding: 17px;
    border: 2px solid #F6A73E;
    border-radius: 50%;
    
}

.sirvise__icon p{
    margin-top: 30px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
}

/*_______________________ MEDIA  ____________________________*/



@media screen and (max-width: 600px) {
    .servise {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
}


