/*__________________________ GALLERY ________________________*/

.gallery{
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    background-image: url(../img/bg_gallery.jpg);
    background-attachment: fixed;
    padding-bottom: 60px;
}

 .gallery__title {
    padding-bottom: 70px;
    padding-top: 60px;
 }

 .gallery__content{
    display: flex;
    flex-wrap: wrap;
 }
 
 .content-item{
    flex: 1 1 30%;
    width: 400px;
    transition: all 0.3s ease-out; 
    padding: 10px 15px;
 }

 .content-item:hover {
    transform: scale(1.1);
 }

/*_______________________ MEDIA  ____________________________*/

@media screen and (max-width: 899.98px){

    .gallery__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
     }

    .content-item{
        flex: 0 0 auto;
        max-width: 100%;
        padding: 10px 0px;
     }

}

@media screen and (max-width: 540.98px){

    .content-item{
        width: 350px;
     }
}

@media screen and (max-width: 400.98px){

    .content-item{
        max-width: 100%;
     }
}