
/*____________ ABOUT _______________*/

.about {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)),
     url(../img/about.jpg) ;
    min-height: 100vh; 
    background-color: #F9F8F8;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.about__text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #fff;
    text-align: center;

}

.servise {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.sirvise__icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sirvise__icon img {
    min-width: 70px;
    height: 70px;
    background-color: #F6A73E;
    padding: 17px;
    border: 2px solid #F6A73E;
    border-radius: 50%;
    
}

.sirvise__icon p{
    margin-top: 30px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
}

/*____________ GALLERY_______________*/

.gallery{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    min-height: 100vh;
    background-image: url(../img/bg_gallery.jpg);
    background-attachment: fixed;
}

  /*gallery img*/
.gallery__img img{
    width: 450px;
    height: auto;
    padding-right: 30px;
    padding-top: 10px;

    transition: 0.2s;
  }
  

.gallery__img img:hover {
    transform: scale(1.1);
}

/*____________ CONTACT _______________*/

.contact {
    min-height: 100vh;
    background-color: #fff;
    padding-top: 60px;
}


.contact__info{
    margin-top: 43px;

}

.phone__contact a {
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    font-family: "Macherie";
    text-decoration: none;
    color: #F6A73E;

    transition: all 0.4s ease-out;
}

.phone__contact a:hover {
    color: #8B331B;
}


.address p{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 700;
}

.contact__info {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


.social p{
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 700;

}

.social__icon {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social__icon img{
    padding: 11px 35px;
    border: 1px solid #E3ECF5;
    border-radius: 13px;
    text-decoration: none;

    transition: all 0.4s ease-out;
    
}

.social__icon img:hover {
    background-color: #F0EAD6;
    border: 1px solid #E3ECF5;
    border-radius: 13px;
}

/*____________ FORMS _______________*/

.forms {
    min-height: 22vh;
    background-color: #E6E3DE;
    font-family: 'Montserrat', sans-serif;
    
}

.info {
    display: flex;
    align-items: center;
    padding-top: 52px;  
}

.info h1 {
    color: #000;
    font-size: 23px;
    
}

input{
    width: 311px;
    height: 22px;
    padding: 12px 22px;
    border-radius: 40px;
    margin-left: 231px;
    border: 1px solid #fff;
    font-size: 20px;
}

.btn__forms a{
    width: 110px;
    height: 36px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 40px;
    background-color: #F5A54A;
    margin-left: 21px;
    padding: 15px 18px;
    color: #fff;
    font-family: "Macherie";
    text-transform: uppercase;
    transition: all 0.4s ease-out;   
}

.btn__forms a:hover{
    background-color: #8B331B;
    color: #fff;
    border-color:#8B331B;
    box-shadow: 3px 2px 2px 2px black;
}


/*____________ FOOTER _______________*/

.footer {
    padding-top: 75px;
    color: #fff;
    background-color: #000;
    min-height: 180px;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__info img {
    width: 100px;
    height: auto;
}

.nav__footer a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-right: 30px;
    font-family: "Macherie";
    
    transition: all 0.4s ease-out;
}

.nav__footer a:hover{
    color: #F7A92C;
}

.footer__text {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__text img {
    color: #E3ECF5;
    width: 50px;
    height: auto;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #fff;
    margin-bottom: 10px;

    transition: all 0.4s ease-out;
}

.footer__text img:hover {
    background-color: #F7A92C;
    border-radius: 100%;
    border: 1px solid #F7A92C;
   
} 